# Application
APP_ENV="development"
PORT=":8000"

# Database (PostgreSQL)
DATABASE_USER="postgres"
DATABASE_PASSWORD="postgres"
DATABASE_DB="job-board-db"
DATABASE_HOST="localhost"
DATABASE_PORT=5432
DATABASE_URL="host=${DATABASE_HOST} user=${DATABASE_USER} password=${DATABASE_PASSWORD} dbname=${DATABASE_DB} port=${DATABASE_PORT} sslmode=disable timezone=Asia/Jakarta"

# MinIO (S3 Object Storage)
MINIO_ROOT_USER="minioadmin"
MINIO_ROOT_PASSWORD="minioadmin"
MINIO_AVATAR_BUCKET="avatar"
MINIO_CV_BUCKET="cv-bucket"
MINIO_USE_SSL=false
MINIO_ENDPOINT="localhost:9000"
MINIO_PUBLIC_URL="http://localhost:9000"
MINIO_SUBNET_LICENSE=""

# JWT Authentication
ACCESS_SECRET_KEY="your_access_secret_key"
REFRESH_SECRET_KEY="your_refresh_secret_key"

# Token Duration (in seconds)
# 900 = 15 minutes, 604800 = 7 days
ACCESS_DURATION=900
REFRESH_DURATION=604800
